name: 'Browserslist: Regex'

on:
  workflow_call:
    inputs:
      CACHE_PATH:
        default: pnpm-lock.yaml
        required: false
        type: string
      DIRECTORY:
        default: ./
        required: false
        type: string
      NODE_VERSION:
        default: 24
        required: false
        type: number
      OUTPUT_PATH:
        default: supportedBrowsers.js
        required: false
        type: string
      PACKAGE_MANAGER:
        default: pnpm
        required: false
        type: string
      UBUNTU_DEPENDENCIES:
        required: false
        type: string
      UBUNTU_REPOSITORIES:
        required: false
        type: string
    secrets:
      PERSONAL_ACCESS_TOKEN:
        required: true

jobs:
  browserslist-regex:
    name: Update supported browsers file
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # fetch all history for all branches and tags
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }} # personal access token required for `stefanzweifel/git-auto-commit-action` to trigger workflows on the new commit (https://github.com/stefanzweifel/git-auto-commit-action#commits-made-by-this-action-do-not-trigger-new-workflow-runs)

      - name: Setup package manager
        run: corepack enable

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: ${{ inputs.PACKAGE_MANAGER }}
          cache-dependency-path: ${{ inputs.CACHE_PATH }}
          node-version: ${{ inputs.NODE_VERSION }}

      - name: Add Ubuntu repositories
        if: inputs.UBUNTU_REPOSITORIES != ''
        run: |
          sudo add-apt-repository ${{ inputs.UBUNTU_REPOSITORIES }}

      - name: Install Ubuntu dependencies
        if: inputs.UBUNTU_DEPENDENCIES != ''
        run: |
          sudo apt update
          sudo apt install -y ${{ inputs.UBUNTU_DEPENDENCIES }}

      - name: Determine module type
        uses: sergeysova/jq-action@a3f0d4ff59cc1dddf023fc0b325dd75b10deec58 # v2.3.0
        id: type
        env:
          DIRECTORY: ${{ inputs.DIRECTORY }}
        with:
          cmd: 'jq -r .type "$DIRECTORY/package.json"'

      - name: Update supported browsers file
        env:
          DIRECTORY: ${{ inputs.DIRECTORY }}
          OUTPUT_PATH: ${{ inputs.OUTPUT_PATH }}
          PACKAGE_MANAGER: ${{ inputs.PACKAGE_MANAGER }}
        shell: bash
        run: |
          set -e
          cd "$DIRECTORY"
          "$PACKAGE_MANAGER" install --frozen-lockfile

          if [ "${{ steps.type.outputs.value }}" = "module" ]; then
            prefix="export default"
          else
            prefix="module.exports ="
          fi

          echo "$prefix $("$PACKAGE_MANAGER" browserslist-useragent-regexp --allowHigherVersions);" > "$OUTPUT_PATH"

          if [ -f "node_modules/.bin/eslint" ]; then
            "$PACKAGE_MANAGER" eslint --fix "$OUTPUT_PATH"
          fi

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          commit_message: 'chore(browserslist-regex): update supported browsers'
