name: 'Browserslist: Regex'

permissions: {}

on:
  workflow_call:
    inputs:
      DIRECTORY:
        default: ./
        type: string
      NODE_VERSION:
        type: string
      NODE_VERSION_FILE:
        default: .nvmrc
        type: string
      OUTPUT_PATH:
        default: supportedBrowsers.js
        type: string
      PACKAGE_MANAGER:
        default: pnpm
        type: string
      UBUNTU_DEPENDENCIES:
        type: string
      UBUNTU_REPOSITORIES:
        type: string
    secrets:
      PERSONAL_ACCESS_TOKEN:
        required: true

jobs:
  browserslist-regex:
    name: Update supported browsers file
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # fetch all history for all branches and tags
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }} # personal access token required for `stefanzweifel/git-auto-commit-action` to trigger workflows on the new commit (https://github.com/stefanzweifel/git-auto-commit-action#commits-made-by-this-action-do-not-trigger-new-workflow-runs)

      - name: Setup package manager
        run: |
          npm install -g corepack@latest
          corepack enable

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: ${{ inputs.PACKAGE_MANAGER }}
          node-version: ${{ inputs.NODE_VERSION }}
          node-version-file: ${{ inputs.NODE_VERSION_FILE }}

      - name: Add Ubuntu repositories
        if: inputs.UBUNTU_REPOSITORIES != ''
        run: |
          sudo add-apt-repository ${{ inputs.UBUNTU_REPOSITORIES }}

      - name: Install Ubuntu dependencies
        if: inputs.UBUNTU_DEPENDENCIES != ''
        run: |
          sudo apt update
          sudo apt install -y ${{ inputs.UBUNTU_DEPENDENCIES }}

      - name: Determine module type
        uses: sergeysova/jq-action@a3f0d4ff59cc1dddf023fc0b325dd75b10deec58 # v2.3.0
        id: type
        env:
          DIRECTORY: ${{ inputs.DIRECTORY }}
        with:
          cmd: 'jq -r .type "$DIRECTORY/package.json"'

      - name: Update supported browsers file
        env:
          DIRECTORY: ${{ inputs.DIRECTORY }}
          OUTPUT_PATH: ${{ inputs.OUTPUT_PATH }}
          PACKAGE_MANAGER: ${{ inputs.PACKAGE_MANAGER }}
        shell: bash
        run: |
          set -e
          cd "$DIRECTORY"
          "$PACKAGE_MANAGER" install --frozen-lockfile

          if [ "${{ steps.type.outputs.value }}" = "module" ]; then
            prefix="export default"
          else
            prefix="module.exports ="
          fi

          echo "$prefix $("$PACKAGE_MANAGER" browserslist-useragent-regexp --allowHigherVersions);" > "$OUTPUT_PATH"

          if [ -f "node_modules/.bin/eslint" ]; then
            "$PACKAGE_MANAGER" eslint --fix "$OUTPUT_PATH"
          fi

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: 'chore(browserslist-regex): update supported browsers'
