name: CI

permissions: {}

on:
  pull_request:
  push:
    branches:
      - alpha
      - beta
      - master
      - renovate/**

jobs:
  ci-optimization:
    name: CI optimization
    uses: ./.github/workflows/ci-optimization.yml
    permissions:
      pull-requests: read
  lint:
    needs: ci-optimization
    if: needs.ci-optimization.outputs.continue == 'true'
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout git repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: reviewdog/action-actionlint@f00ad0691526c10be4021a91b2510f0a769b14d0 # v1.68.0
  release-semantic:
    needs: lint
    name: Release (semantic)
    uses: ./.github/workflows/release-semantic.yml
    permissions:
      contents: write
      id-token: write
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
