name: CI

permissions: {}

on:
  pull_request:
  push:
    branches:
      - alpha
      - beta
      - main
      - master
      - renovate/**

jobs:
  ci-optimization:
    name: CI optimization
    uses: ./.github/workflows/ci-optimization.yml
    permissions:
      pull-requests: read
  lint:
    needs: ci-optimization
    if: needs.ci-optimization.outputs.continue == 'true'
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1.69.1
  release-semantic:
    needs: lint
    name: Release (semantic)
    uses: ./.github/workflows/release-semantic.yml
    permissions:
      contents: write
      id-token: write
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
