name: 'DargStack: rgen'

permissions: {}

on:
  workflow_call:
    inputs:
      APT_PACKAGES:
        type: string
      NODE_VERSION:
        type: string
      NODE_VERSION_FILE:
        default: .nvmrc
        type: string
      PACKAGE_MANAGER:
        default: pnpm
        type: string

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05 # v1.6.0
        if: inputs.APT_PACKAGES != ''
        with:
          packages: ${{ inputs.APT_PACKAGES }}
          version: 1.0

      - name: Setup package manager
        run: |
          npm install -g corepack@latest
          corepack enable

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: ${{ inputs.PACKAGE_MANAGER }}
          node-version: ${{ inputs.NODE_VERSION }}
          node-version-file: ${{ inputs.NODE_VERSION_FILE }}

      - name: Install dependencies
        run: ${{ inputs.PACKAGE_MANAGER }} install

      - name: dargstack rgen
        run: ${{ inputs.PACKAGE_MANAGER }} exec dargstack_rgen --validate

      - name: dargstack derive
        run: |
          mkdir ~/scripts/
          wget "https://raw.githubusercontent.com/dargstack/dargstack/master/src/dargstack" -O ~/scripts/dargstack
          chmod +x ~/scripts/dargstack
          ~/scripts/dargstack derive
