name: Deploy (Cloudflare Pages)

permissions: {}

on:
  workflow_call:
    inputs:
      ACCOUNT_ID:
        required: true
        type: string
      BRANCH:
        type: string
      DIRECTORY:
        type: string
      PROJECT_NAME:
        required: true
        type: string
    secrets:
      CLOUDFLARE_API_TOKEN:
        required: true

jobs:
  deploy:
    name: Deploy
    permissions:
      contents: read
      deployments: write
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: build-artifact
      - name: Extract build artifact
        run: |
          tar -xzvf build-artifact.tar
      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          accountId: ${{ inputs.ACCOUNT_ID }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          command: pages deploy ${{ inputs.DIRECTORY || '.' }} --project-name=${{ inputs.PROJECT_NAME }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
