name: Docker

permissions: {}

on:
  workflow_call:
    inputs:
      ARTIFACT_PATH:
        type: string
      BUILD_ADD_HOSTS:
        type: string
      BUILD_ARGUMENTS:
        type: string
      BUILD_TARGET_RELEASE:
        default: build
        type: string
      CONTEXT:
        type: string
      IMAGE_ID:
        type: string
      IMAGE_ID_SUFFIX:
        type: string
      PLATFORMS:
        default: linux/amd64
        type: string
      PUSH:
        default: true
        type: boolean
      TAG:
        type: string
      REGISTRY:
        default: ghcr.io
        type: string
    secrets:
      BUILD_ARGUMENTS:
      PERSONAL_ACCESS_TOKEN:

jobs:
  docker:
    name: Docker
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout git repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # fetch all history for all branches and tags
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN || github.token }}

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          install: true

      - name: Registry login
        if: github.event_name != 'pull_request'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ${{ inputs.REGISTRY }}

      - run: |
          IMAGE_ID=${{ inputs.IMAGE_ID || format('{0}/{1}', inputs.REGISTRY, github.repository) }}

          if [ -n "${{ inputs.IMAGE_ID_SUFFIX }}" ]; then
            IMAGE_ID="$IMAGE_ID-${{ inputs.IMAGE_ID_SUFFIX }}"
          fi

          echo "IMAGE_ID=$IMAGE_ID" >> "$GITHUB_ENV"

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ${{ env.IMAGE_ID }}
          tags: |
            type=schedule
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{version}},value=${{ inputs.TAG }}
            type=semver,pattern={{major}}.{{minor}},value=${{ inputs.TAG }}
            type=semver,pattern={{major}},enable=${{ !startsWith(github.ref, 'refs/tags/0.') }},value=${{ inputs.TAG }}

      # - name: Docker cache
      #   uses: dargmuesli/docker-build-cache-config-action@43fbb9a6f14c0b5e05091af2f0a5c38cdb65c0e3 # v1.14.0
      #   id: cache
      #   with:
      #     image: ${{ env.IMAGE_ID }}/cache
      #     tag-prefix: |
      #       ${{ inputs.BUILD_TARGET_RELEASE }}_
      #       ${{ inputs.CACHE && format('{0}_', inputs.CACHE) }}

      # - name: Docker cache
      #   uses: int128/docker-build-cache-config-action@v1.40.0
      #   id: cache_original
      #   with:
      #     image: ${{ env.IMAGE_ID }}/cache

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          add-hosts: |
            ${{ inputs.BUILD_ADD_HOSTS }}
          build-args: |
            ${{ inputs.BUILD_ARGUMENTS }}
          builder: ${{ steps.buildx.outputs.name }}
          # cache-from: ${{ steps.cache.outputs.cache-from }}
          # cache-to: ${{ steps.cache.outputs.cache-to }}
          context: ${{ inputs.CONTEXT || '.' }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          platforms: ${{ inputs.PLATFORMS }}
          push: ${{ inputs.PUSH && steps.docker_meta.outputs.tags != '' && github.event_name != 'pull_request' }}
          secrets: |
            ${{ secrets.BUILD_ARGUMENTS }}
          tags: ${{ steps.docker_meta.outputs.tags }}

      - name: Build target "${{ inputs.BUILD_TARGET_RELEASE }}"
        if: inputs.ARTIFACT_PATH != ''
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          add-hosts: |
            ${{ inputs.BUILD_ADD_HOSTS }}
          build-args: |
            ${{ inputs.BUILD_ARGUMENTS }}
          builder: ${{ steps.buildx.outputs.name }}
          # cache-from: ${{ steps.cache.outputs.cache-from }}
          context: ${{ inputs.CONTEXT || '.' }}
          load: true
          push: false
          secrets: |
            ${{ secrets.BUILD_ARGUMENTS }}
          tags: stage_build
          target: ${{ inputs.BUILD_TARGET_RELEASE }}

      - name: Create artifact
        if: inputs.ARTIFACT_PATH != ''
        run: |
          docker container create --name extract stage_build
          docker container cp extract:/srv/app/${{ inputs.ARTIFACT_PATH }} /tmp/actions/
          tar -C /tmp/actions/ -czvf build-artifact.tar .

      - name: Upload artifact
        if: inputs.ARTIFACT_PATH != ''
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: build-artifact
          path: build-artifact.tar
