name: Docker

permissions: {}

on:
  workflow_call:
    inputs:
      CACHE:
        type: string
      IS_PUSH_ENABLED:
        type: boolean
      TARGET:
        default: production
        type: string
    secrets:
      DOCKER_HUB_ACCESS_TOKEN:
        required: true
      DOCKER_HUB_USER_NAME:
        required: true

jobs:
  docker:
    name: Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # fetch all history for all branches and tags
          ref: ${{ github.head_ref || github.ref }}

      - name: Docker Buildx setup
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Registry login
        if: github.event_name != 'pull_request'
        run: echo "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}" | docker login -u "${{ secrets.DOCKER_HUB_USER_NAME }}" --password-stdin

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: ${{ github.repository }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{version}}

      - name: Docker cache
        uses: dargmuesli/docker-build-cache-config-action@43fbb9a6f14c0b5e05091af2f0a5c38cdb65c0e3 # v1.14.0
        id: cache
        with:
          image: ${{ github.repository }}
          tag-prefix: |
            ${{ inputs.TARGET }}_
            ${{ inputs.CACHE && format('{0}_', inputs.CACHE) }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          build-args: |
            CI=true
          cache-from: ${{ steps.cache.outputs.cache-from }}
          cache-to: ${{ steps.cache.outputs.cache-to }}
          context: .
          labels: ${{ steps.meta.outputs.labels }}
          push: ${{ steps.meta.outputs.tags != '' && inputs.IS_PUSH_ENABLED == true }}
          tags: ${{ steps.meta.outputs.tags }}
          target: ${{ inputs.TARGET }}
