name: 'Release: Semantic'

permissions: {}

on:
  workflow_call:
    inputs:
      APT_PACKAGES:
        type: string
      DRY_RUN:
        type: boolean
      EXTRA_PLUGINS:
        type: string
      INSTALL_NODE_DEPENDENCIES:
        type: boolean
      NODE_VERSION:
        type: string
      NODE_VERSION_FILE:
        default: .nvmrc
        type: string
      PACKAGE_MANAGER:
        default: pnpm
        type: string
    secrets:
      PERSONAL_ACCESS_TOKEN:
        required: true
    outputs:
      new_release_version:
        value: ${{ jobs.semantic-release.outputs.new_release_version }}

jobs:
  semantic-release:
    if: inputs.DRY_RUN || github.ref_type == 'branch' && contains(fromJSON('["main", "master", "next", "next-major", "beta", "alpha"]'), github.ref_name) # semantic-release does not run on pull requests, so accounting for `github.head_ref` in addition to `github.ref_name` does not make sense
    name: Semantic Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      new_release_version: ${{ steps.semantic-release.outputs.new_release_version }}
    steps:
      - name: Checkout git repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # fetch all history for all branches and tags
          persist-credentials: false # to make `cycjimmy/semantic-release-action` work on protected branches (prevent "At least 1 approving review is required by reviewers with write access")

      - uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05 # v1.6.0
        if: inputs.APT_PACKAGES != ''
        with:
          packages: ${{ inputs.APT_PACKAGES }}
          version: 1.0

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: ${{ inputs.PACKAGE_MANAGER }}
          node-version: ${{ inputs.NODE_VERSION }}
          node-version-file: ${{ inputs.NODE_VERSION_FILE }}

      - name: Setup package manager
        if: inputs.INSTALL_NODE_DEPENDENCIES
        run: corepack enable

      - name: Install dependencies
        if: inputs.INSTALL_NODE_DEPENDENCIES
        run: ${{ inputs.PACKAGE_MANAGER }} install

      - name: Release # TODO: replace with docker stage, ensuring outputs don't break (https://github.com/semantic-release/semantic-release/issues/753, https://github.com/semantic-release/semantic-release/issues/1647)
        uses: cycjimmy/semantic-release-action@9cc899c47e6841430bbaedb43de1560a568dfd16 # v5.0.0
        id: semantic-release
        with:
          dry_run: ${{ inputs.DRY_RUN }}
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            conventional-changelog-conventionalcommits
            ${{ inputs.EXTRA_PLUGINS }}
          semantic_version: 24.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }} # required to create releases & comments on behalf of a custom user

      - name: Beautify changelog
        if: inputs.DRY_RUN == false && steps.semantic-release.outputs.new_release_published == 'true'
        run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
